* {
    margin: 0px;
    padding: 0px;

}

.header {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.header img {

    height: 100vh;
    width: 100vw;
    object-fit: cover;
    top: 0;
    z-index: -1;
    left: 0;
    position: absolute;

}

.pa{
    height: 110px;
    width: 190px;
    object-fit: contain;
}
.pa img{left: 3.4rem;
    bottom: 3rem;
    height: 110px;
    width: 190px;
    position: relative;
    object-fit: contain;
}

.info{
    position: absolute;;
    right: 0.2rem;
    display: flex;
    height:43px;
    width:50%;
    justify-content: space-evenly;
margin-top: 40px;
margin-left: 190px;

}
.info a{
    text-decoration: none;
    color :white;
    font-size: 1.2rem;

}
 #contact{
    position: relative;
    top:-8px;
    height:2.2rem;
    width: 95px;
margin-bottom: 12px;
border:1px solid white;
padding: 8px 8px 0px 20px;
font-size: 1.1rem;
background-color: white;
font-weight: bold;
color:black;

}

.hc{   
    color: white;
    font-size: 2.2rem;
    display: flex;
    height: 100px;
    margin: 8rem 5rem 10rem 0rem;
    margin-right: 0%;
    width:100%;
    margin-bottom: 38rem;
    font-weight: bolder;
    font-stretch: extra-expanded;
    justify-content: space-evenly;
    word-spacing: 10px;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    text-indent: 60px;
    
}
.arrow{
    height:200px;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 35rem;
    top: 14.5rem;

}
.arrow img{
    height:auto;
    width:auto;
    object-fit: cover;
}

.second{
height:90vh;
width: 100vw;
display: flex;
justify-content: space-between;
font-size: 1.1rem;
}
.secinfo a{
color: black;
font-weight: bolder;
font-family: 'Times New Roman', Times, serif;
text-decoration: none;
border-bottom: 2px solid yellow;
}
.secinfo{
    margin: 10rem;
}
.c{
   
    font-size: 1.1rem;
    letter-spacing: 2px;
color:gray;
font-family:'Times New Roman', Times, serif;
}
.i{
    font-size: 2.1rem;
    letter-spacing: 3px;
font-weight: bold;
color:black;
font-family: fantasy;

}
.egg{
    height: 50vh;
    width:50vw;
    position: relative;
    object-fit: contain;
}
.egg img{
    height: 90vh;
    width:auto;
    object-fit: contain;
}
.third{
    height:90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    }
    .third img{
        height: 50vh;
        width:50rem;
        position: relative;
        object-fit: contain;
    }   
    .juice img{
        height: 90vh;
        width:auto;
        object-fit: contain;
       float: left;
    }
    .thiinfo a{
    color: black;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border-bottom: 2px solid rgb(224, 152, 94);
    }
    .thiinfo{
        margin: 10rem;
        word-break: break-all;
        font-size: 1.1rem;
    }
    .g{
        letter-spacing: 2px;
    color:gray;
    font-family:'Times New Roman', Times, serif;
    }
    .f{
        font-size: 2.1rem;
        letter-spacing: 3px;
    font-weight: bold;
    color:black;
    font-family: fantasy;
    
    }
    .fourth{
        height: 70vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
font-size: 1.1rem;
text-align: center;
    }
.fourth img{
    height:fit-content;
    width:50vw;
    object-fit: contain;
}
.cherry{
    color:rgb(79, 197, 112);
    position: relative;
    text-align: center;

}
.fg b{
 position: absolute;
 left:45%;
 top:50%;
}
.fg p{
    position: absolute;
    left:30%;
    top:70%;
    right: 13%;
}
.orange{
color: rgb(47, 162, 223);
position: relative;
text-align: center;
}
.og b{
    position: absolute;
    left:45%;
    top:50%;
   }
   .og p{
       position: absolute;
       left:30%;
       top:70%;
       right: 19%;
   }
 .five{
    display:flex;
    justify-content: space-evenly;
 }
   .emily{
    color: black;
    padding-top:6.2rem;
    padding-left: 4.5rem;
    text-align: center;
    height:30rem;
    width:245px;
   }
   .emily img{
    border-radius: 50%;
   }
.emily p{
    padding :2rem;
}
.jenny{
    color: black;
    text-align: center;
    height:30rem;
    padding-top:6.2rem;
    padding-right: 4.5rem;
    width:245px;
   }
   .jenny img{
    border-radius: 50%;
   }
.jenny p{
    padding :2rem;
}
.tomas{
    color: black;
    padding-top:6.1rem;
    text-align: center;
    height:30rem;
    width:245px;
   }
   .tomas img{
    border-radius: 50%;
   }
.tomas p{
    padding :2rem;
}
.six{
    display:flex;
    height:50vh;
    width: 100vw;
}
.six img{margin: 0px;
    height:85vh;
    width: 25vw;
    object-fit: contain;
}
.seven{
    margin-top: 9.7rem;
    padding-top: 5rem;
    background-color: rgb(135, 243, 210);
    height: 50vh;
    width: 100vw;
    text-align: center;
}
.seven a{
    text-decoration: none;
    color: rgb(23, 174, 89); font-size: 1.1rem ;
}
.seven img{
    border-radius: 50%;
    margin-right: 15px;
}